body 
{
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-family: 'Raleway', sans-serif;
}

.login-box
{
	width: 270px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.68);
	border-radius: 4px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.login-box h1{
	float: left;
	color: #ff9900;
	margin-bottom: 50px;
	border-bottom: 6px solid;
	font-size: 40px;
	padding: 13px 0;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #808080;
}

.textbox i{
	width: 26px;
	float: left;
	text-align: right;
	color: white;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 90px;
	float: left;
	margin: 0 10px;
}

.btn{
	width: 100%;
	background: none;
	border: 2px solid #ff9900; 
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
	transition: 0.2s all;
}

.btn:hover{
	border: 2px solid white; 
	font-size: 20px;
}